apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: service-ingress
  labels:
    app.kubernetes.io/name: service-ingress
spec:
  rules:
  - http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: service-name
            port: 
              number: 80
